body {
    margin: 0;
}
      
h1, h2, h3{
    background-color: white;
}

.menu {
    
    
    background:#0b6d8d url("menubg-blue.png") repeat-x;
   
}

.menu ul {
    padding-left: 0;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    padding: 13px 20px 13px 20px;
    border-left: 1px solid #258fc1;
    
}

.table li:hover{
    background-color: #0b506c;



}
.container {
    width: 80%;
    margin: auto;
}

.menu a {
    color:white;
    text-decoration: none;
}


