body {
    margin: 0;
}
      
h1, h2, h3{
    background-color: white;
}
       
.menu {
    padding-top: 3px; 
    padding-bottom: 3px;
    background-color: #0b6d8d;
}

.menu ul {
    padding-left: 0;
}

.menu li {
    display: inline-block;
    list-style-type: none;
}

.container {
    width: 80%;
    margin: auto;
}

.menu a {
    color:white;
}


