

    }
    
    
    h1, h2, h3{
   background-color: cyan


    }
    
    
    .menu {
        padding-top: 20px; 
        padding-bottom: 20px;
        background-color: #0b6d8d;
        width: 100%;

    }
    .menu li {
       
        display: inline-block;
        list-style-type: none;
    }
   
    .container{
        
        width: 80%;
        margin:auto;
    }

    
    .menu a {
        color:white;
    }
        
    